<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Artist</key>
		<string>Alex Sin</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>Dubstep through and through, Alex Sin is dirty in all the right ways.  His no-holds-barred style and signature sound pay homage to the genre which clearly isn’t dead yet.  With releases on Excision’s Rottun Records, a collab with AFK out on Datsik’s Firepower label and the chart topping ‘Shots Fired EP’ released on Jansten &amp; Dirt Monkey’s Kairos Audio, Alex Sin has proven himself to be more than just an up and comer. The Texas native has also confirmed that not only is everything bigger in Texas, but grimier too.  The bass music powerhouse has enjoyed early attention from some of the industry’s biggest names including Zomboy, Bare, Figure and more.  And with an arsenal of filthy unreleased tracks you’ll want to keep an eye on this heavy hitter, as the best is yet to come. </string>
		<key>Facebook</key>
		<string>https://www.facebook.com/alexsinofficial</string>
		<key>Facebook_ID</key>
		<integer>294701387307941</integer>
		<key>Twitter</key>
		<string>alexsinofficial</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/alexsinofficial</string>
		<key>Soundcloud_ID</key>
		<integer>641706</integer>
		<key>Booking</key>
		<string>gabriela@phasemgmt.com</string>
		<key>Management</key>
		<string>ashley@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>Downlink</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>DOWNLINK - A name firmly cemented in the hearts and minds of the bass music community. He is respected the world over as a producer of the highest quality dance floor bangers. He has had numerous #1 hits on Beatport and has released music with major labels like Rottun, OWSLA and Mau5trap. He has helped mix an album for the legendary nu-metal band Korn. He has toured the planet far and wide, leaving a wake of awe-struck audiences in his path. To see him live is to witness one of the tightest technical DJ&apos;s in the game. His 4 deck live mixing and infectious stage energy light up venues turning crowds on their heads time after time. Expect lightning fast mixing on a journey through a wide variety of bass music. All tempos are fair game as long as its underground vibes and dirty bass. 2013 was a huge year for Downlink.  
Along with homies Excision and KJ Sawka, he gave rise to bass music supergroup Destroid, a whole different kind of live experience altogether. You really have to see it live to fully grasp the scope and intensity of the show. Also in 2013, Downlink launched his brand new record label, Uplink Audio. This will be a place where he will showcase his own music as well as a wide variety of other high grade material. Downlink is not one to be pigeon-holed and is constantly on a quest to evolve and refine his sound. With this in mind, one thing will always remain constant - a pure unadulterated heavy listening experience…</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/downlink</string>
		<key>Facebook_ID</key>
		<integer>106720212705849</integer>
		<key>Twitter</key>
		<string>downlinkmusic</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/downlink</string>
		<key>Soundcloud_ID</key>
		<integer>35211</integer>
		<key>Booking</key>
		<string>mike@circletalentagency.com</string>
		<key>Management</key>
		<string>lee@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>Dr. Ozi</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>Never meant to be two people, Dr. Ozi was an imaginary friend; the figment of a child’s imagination. Giant, strong and extraordinary, Dr. Ozi could outrun cars and jump over buildings with ease. He was often seen flipping trucks, breaking branches and dangling from electrical wires. Like his creators, Dr. Ozi was unparalleled and unique. And like his creators, Dr. Ozi was never held down by expectations. In 2006, the concept became reality, when two doctors came together to create one Ozi.
Since its inception, Dr. Ozi has been breaking molds and infiltrating dance floors with uniquely upbeat but relentless sounds of heavy synths and bass. Culminating in over 500,000 plays and gaining early attention from bass music greats such as Nero, Borgore, Downlink, Adventure Club and Destroid, Chris and Nix have become champions of Toronto’s electronic music scene. 
The duo began by producing heavy electro tracks but quickly switched their focus to the then just-blossoming dubstep genre, bringing across their screeching highs and intricate basslines. It was not long before nightclubs across the country were indulging in the unique sounds of Dr. Ozi.

With releases on Buygore, Heavy Artillery and Firepower Records, Dr. Ozi has enjoyed recognition from a plethora of notary online blogs and music forums. Not to mention an increasingly loyal fan base, whose energy is amplified with every drop of the duo’s grimey bass. 

Innovative in more than just their music production, Chris and Nix have a great sense for the drama required of a live performance. Dr. Ozi has captivated the audiences of countless lauded nightclubs and international festivals such as WEMF and Medalla Light. The duo’s increasing incorporation of live vocals has added a whole new atmosphere to their already mesmerizing sets. 

A proud force and trademark of Toronto’s talent, Dr. Ozi will continue to push boundaries and brighten dimly-lit clubs with their flashing, fast paced sound. Without a doubt, Dr. Ozi is on their way to becoming the next big act to come out of Toronto’s underground dance scene.</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/Dr.OziOfficial</string>
		<key>Facebook_ID</key>
		<integer>102937039789528</integer>
		<key>Twitter</key>
		<string>DrOziOfficial</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/dr-ozi</string>
		<key>Soundcloud_ID</key>
		<integer>2688819</integer>
		<key>Booking</key>
		<string>ashley@phasemgmt.com</string>
		<key>Management</key>
		<string>ashley@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>Killabyte</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>The perfect combination of intricate melodies and filthy basslines, Killabyte provides the soundtrack to what could be be your most beautiful nightmares. A classically trained musician, the emotively-driven 17-year-old draws inspiration from within to create awe-inspiring and emotion-invoking sounds. Already making a name for himself in the melodic dubstep scene, killabyte has enjoyed early attention from multiple major artists including Adventure Club, Excision and Virtual Riot. And following the success of several high-profile remixes, the North Carolina based artist is on the up-and-up. With his always-evolving sound and unfaltering energy, killabyte is truly experience through music.</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/KillabyteOfficial</string>
		<key>Facebook_ID</key>
		<integer>324728904251212</integer>
		<key>Twitter</key>
		<string>killabytemusic</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/killabytedubstep</string>
		<key>Soundcloud_ID</key>
		<integer>12045964</integer>
		<key>Booking</key>
		<string>ashley@phasemgmt.com</string>
		<key>Management</key>
		<string>ashley@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>Mark Instinct</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>A self proclaimed space gypsy and professional button pusher, Mark Instinct is a heavy hitter in the international bass circuit. Known for his raw energy and filthy basslines, Mark has become well-established amongst the bass music elite.
Beginning to experiment with electronic music production at an early age, the Canadian native quickly fell into his niche and chiseled out a distinctively grimey style. Gaining early recognition and bookings alongside some of bass musics heavy hitters, Mark Instinct’s reputation for precision production skills and unadulterated sounds began to spread.

Releasing tracks through Excision’s Rottun Recordings, Reid Speed’s PlayMe, Datsik&apos;s Firepower Records and Dieseboy’s SubHuman label, Mark Instinct has successfully held down spots on Beatport’s Top 10 charts. These bass-heavy chart toppers have ensured Mark&apos;s world-wide recognition as a hard hitting bass producer.

More than a reckoning force in the studio, Mark has proven himself a powerhouse behind the decks. Destroying dance floors with his earth-shattering and explosive stage performances, Mark Instinct leaves fans craving more. Appearing internationally alongside some of dubstep’s biggest names, Mark has played at Miami’s Winter Music Conference and is a fixture at the renowned Shambhala Music Festival. 

The perfect combination of intricate melodies and filthy basslines, Killabyte provides the soundtrack to what could be be your most beautiful nightmares. A classically trained musician, the emotively-driven 17-year-old draws inspiration from within to create awe-inspiring and emotion-invoking sounds. Already making a name for himself in the melodic dubstep scene, killabyte has enjoyed early attention from multiple major artists including Adventure Club, Excision and Virtual Riot. And following the success of several high-profile remixes, the North Carolina based artist is on the up-and-up. With his always-evolving sound and unfaltering energy, killabyte is truly experience through music.</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/MarkInstinct</string>
		<key>Facebook_ID</key>
		<integer>42087694978</integer>
		<key>Twitter</key>
		<string>Mark_Instinct</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/mark_instinct</string>
		<key>Soundcloud_ID</key>
		<integer>90364</integer>
		<key>Booking</key>
		<string>gabriela@phasemgmt.com</string>
		<key>Management</key>
		<string>lee@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>Pyramid Scheme</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>Sterling Pike x Adam LaRossa</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/pyramidschemeedm</string>
		<key>Facebook_ID</key>
		<integer>223222191204765</integer>
		<key>Twitter</key>
		<string>PyramidSchemedm</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/pyramidschemeedm</string>
		<key>Soundcloud_ID</key>
		<integer>85971524</integer>
		<key>Booking</key>
		<string>ashley@phasemgmt.com</string>
		<key>Management</key>
		<string>ashley@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>Rekoil</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>Exploding into the bass music scene, Collin McKay has proven that age is nothing more than a number. Releasing hard-hitting tracks under his alter ego ‘Rekoil’, the 20-year-old producer is already a force to be reckoned with. 

Immediately garnering attention from bass music heavy weights, Rekoil quickly found his way onto Datsik’s Firepower Records and joined him on the 2013 Reloaded Tour.  Shaping up to be a huge year, 2014 has already seen complete destruction by the Baltimore native. After several earth-shattering WMC performances and domination of Hollywood’s legendary Avalon during 12th Planet’s SMOG Takeover, Rekoil made several stops along Getter&apos;s Gnartillery tour .  With his fresh face and filthy tracks, Rekoil will continue to tear up the scene, securing his future as a bass music power player.</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/RekoilOfficial</string>
		<key>Facebook_ID</key>
		<integer>156527287738582</integer>
		<key>Twitter</key>
		<string>rekoilll</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/rekoil</string>
		<key>Soundcloud_ID</key>
		<integer>1945430</integer>
		<key>Booking</key>
		<string>alex@warpathgroup.com</string>
		<key>Management</key>
		<string>lee@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>River Accorsi</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>River Accorsi is exploding onto the EDM scene and really setting himself apart with a radically unique, futuristic, and technically obsessed sound along with a transcendental live show that will warp your experiential boundaries.

River Accorsi has been developing his trademark sound since 2011. From his earliest Dubstep releases on Darkstep Warrior&apos;s YouTube channel to co-creating the track &quot;Titty Sprinkles: in studio with Deadmau5 and Foreign Beggars to having his tune MDCCLXXVI released on Deadmau5&apos;s record label Mau5trap, River Accorsi has been a star on the rise.

2014 has already seen multipe Drum&amp;bass.net blog features, along with placing 2nd in the Carvar &amp; Clock remix contest. Open your neural floodgates and engage in the #rivolution

</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/river.accorsi</string>
		<key>Facebook_ID</key>
		<integer>199019306791302</integer>
		<key>Twitter</key>
		<string>RiverAccorsi</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/riveraccorsi</string>
		<key>Soundcloud_ID</key>
		<integer>3319856</integer>
		<key>Booking</key>
		<string>gabriela@phasemgmt.com</string>
		<key>Management</key>
		<string>lee@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>Said the Sky</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>Playing piano and various instruments since the age of eight, Colorado native Trevor Christensen is coming forward with a fresh perspective on music. Bringing his melodic background and technical training into his music, he works to capture everything beautiful in what people know as EDM. His last three years have been devoted to his production, and bring the ideas build up in his head from his entire childhood to life. His music is, what he hopes it to be, an experience: A captivating blend of moving bass lines, and soaring melodies. This is nothing you want to miss.</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/saidthesky</string>
		<key>Facebook_ID</key>
		<integer>536198679807259</integer>
		<key>Twitter</key>
		<string>SaidTheSky</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/said-the-sky</string>
		<key>Soundcloud_ID</key>
		<integer>37544715</integer>
		<key>Booking</key>
		<string>ashley@phasemgmt.com</string>
		<key>Management</key>
		<string>ashley@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>Supreme</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>Brandon Needle, aka Supreme, is more than just an up-and-comer in the bass music scene, he’s a force to be reckoned with. With innovative sounds which draw influence from Hip Hop, Dancehall and Drum and Bass, he gained early recognition from countless industry greats including Coki, Jakes, Funtcase, Rusko, Modestep and more. With two top 10 releases already under his belt and the recent addition to bass music powerhouse Phase Management, Supreme is the artist to watch.</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/SupremeDubs</string>
		<key>Facebook_ID</key>
		<integer>182133635167000</integer>
		<key>Twitter</key>
		<string>SupremeDubs</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/supreme-1</string>
		<key>Soundcloud_ID</key>
		<integer>404160</integer>
		<key>Booking</key>
		<string>gabriela@phasemgmt.com</string>
		<key>Management</key>
		<string>lee@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>Trollphace</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>TrollPhace, aka Damon Orienti, has quickly established himself as one of the filthiest and most violent producers in the game. Too complex to be qualified simply as Dubstep, his evil and aggressive sound makes run-of-the-mill bass music appear mild-mannered at worst.

Proving to be a momentous year, in 2014 the Atlanta-based producer has already enjoyed: a Reddit shoutout from Skrillex, who instructed fans to, &quot;Check out this kid...making SICK tunes&quot;, a Main Stage appearance at Ultra Music Festival alongside Diplo and Skrillex as Jack U and an OWSLA release. Not to mention the attention TrollPhace has received from some of the industry&apos;s heaviest hitters including 12th Planet, Zed&apos;s Dead and Datsik.

More than a filthy producer, TrollPhace is a monster behind the decks. His ground-shaking sets seem to beg the question, how violent can we get? Blending together his unique hip-hop influenced and aggressive tracks, TrollPhace leaves crowds begging for more.  With a nationwide tour alongside Mantis and Rekoil getting underway and a number of raw and heavy unheard tracks in his arsenal, TrollPhace will without a doubt continue to prove the substance behind his monstrous reputation.

</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/TrollPhace</string>
		<key>Facebook_ID</key>
		<integer>430622386989498</integer>
		<key>Twitter</key>
		<string>TrollPhaceMusic</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/trollphace</string>
		<key>Soundcloud_ID</key>
		<integer>22813377</integer>
		<key>Booking</key>
		<string>mike@cirlcletalentagency.com</string>
		<key>Management</key>
		<string>lee@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>Twine</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>To say that Clark Robinson, aka Twine, has taken the bass scene by storm, is putting it lightly. His filthy, heart-stopping sounds have garnered attention and support from the likes of 12th Planet, Datsik, Protohype and Getter. After releasing his freshman EP, “The Absolute”, on Datsik’s heavy-hitting Firepower Records, Twine’s reputation as a bass music power-house has been solidified. With stops on Getter’s upcoming Gnartillery tour, you’ll want to keep a close eye on this vicious young producer. More than just an up-and-comer in the increasingly popular bass music scene, Twine is THE artist to watch.

</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/iamtwine</string>
		<key>Facebook_ID</key>
		<integer>392798484124263</integer>
		<key>Twitter</key>
		<string>iamtwine</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/iamtwine</string>
		<key>Soundcloud_ID</key>
		<integer>7973974</integer>
		<key>Booking</key>
		<string>gabriela@phasemgmt.com</string>
		<key>Management</key>
		<string>ashley@phasemgmt.com</string>
	</dict>
	<dict>
		<key>Artist</key>
		<string>Twofold</string>
		<key>Image</key>
		<string></string>
		<key>Bio</key>
		<string>Twofold is an innovative dance music act brought to you by Adam Crewes-Meyer &amp; Adam McKinney. Hailing from West Sussex (UK) &amp; California respectively, each producer brings their own unique and personal style to the table. Shortly after releasing a collaborative EP under separate aliases, the pair officially launched Twofold.

Twofold exploded onto the scene with the release of their debut EP on Datsik&apos;s Firepower Records. &apos;The Prelude&quot; was followed by releases on Prime Audio, Brotown Records and an eventual return to Datsik&apos;s Label. The duo&apos;s sophmore Firepower EP, &apos;The Second Phase,&apos; definitely did not disappoint: it quickly skyrocketed to #1 on Beatport&apos;s Top 100 dubstep chart, resulted in several UKF uploads and garnered the attention of bass music greats including Figure and Xkore.

More than just accomplished producers, the transatlantic duo know how to put on a show. Not ones to be constricted by genres, Twofold experiments with all reaches of the electronic music spectrum to deliver unpredictable and exciting sets. Following Several high-profile Miami Music Week gigs and an appearance at EDC Las Vegas, Twofold has developed a reputation for energetic and entertaining performances which need to be experiences to be understood.

</string>
		<key>Facebook</key>
		<string>https://www.facebook.com/twofoldmusic</string>
		<key>Facebook_ID</key>
		<string>440135286077649</string>
		<key>Twitter</key>
		<string>twofoldmusic</string>
		<key>Soundcloud</key>
		<string>https://soundcloud.com/twofoldmusic</string>
		<key>Soundcloud_ID</key>
		<integer>22956195</integer>
		<key>Booking</key>
		<string>lee@phasemgmt.com</string>
		<key>Management</key>
		<string>lee@phasemgmt.com</string>
	</dict>
</array>
</plist>
